

<div class="container__movie">
    <div>
        <div class="title">
            <h2>Movies</h2>
            <hr>
        </div>
    </div>
    <div class="btn__position">
        <a [routerLink]="['/movies/create']" class='btn__create'><i class="fas fa-plus-circle"></i> New</a>
    </div>Pagination: 
    <select (change)="setPerPage($event.target.value)">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select> 
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Year</th>
                <th class="actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movie of movies?.data">
                <td>{{ movie.id }}</td>
                <td>{{ movie.name }}</td>
                <td>{{ movie.release_year.substring(0,4) }}</td>
                <td>
                    <a href="#" class="btn btn__edit">
                        <i class="fas fa-pencil"></i>
                    </a>
                    <a [routerLink]="['./', movie.id]" class="btn btn__view">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a (click)="delete(movie.id)" class="btn btn__delete">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="float: left;margin-top: 20px">
        Mostrando <strong>{{ movies.per_page }}</strong> 
        registros de <strong>{{ movies.from }}</strong> até 
        <strong>{{ movies.to }}</strong> na página 
        <strong>{{ movies.current_page }}</strong>.
        Total de <strong>{{ movies.total }}</strong> registros.
    </p>

    <a href="javascript:void(0);" 
            *ngIf="movies.current_page < movies.last_page" 
            class="btn__pagination" 
            (click)="paginate(movies.next_page)">Próximo <i class="fas fa-arrow-right"></i></a>
    
    <a href="javascript:void(0);" 
            *ngIf="movies.current_page > 1" 
            class="btn__pagination" 
            (click)="paginate(movies.prev_page)"><i class="fas fa-arrow-left"></i>Anterior </a>
</div>
   